burabay-server/.yarn
burabay-server/.env
burabay-server/.env.docker
burabay-server/.yarn
burabay-server/yarn.lock
burabay-server/quickstart-1737623291026-90849019b702.json

burabay-client/.yarn
burabay-client/.yarn
burabay-client/yarn.lock
burabay-client/src/routeTree.gen.ts


nginx/certs
.dockerignore
docker-compose.yaml
Dockerfile.backend
Dockerfile.frontend

.vscode


