burabay-server/.yarn
burabay-server/.env
burabay-server/.env
burabay-server/.yarn
burabay-server/yarn.lock

burabay-client/.yarn
burabay-client/.yarn
burabay-client/yarn.lock
burabay-client/src/routeTree.gen.ts

.vscode
