burabay-server/.yarn
burabay-server/.env
burabay-server/.env
burabay-server/.yarn
burabay-server/yarn.lock

burabay-admin-panel
burabay-admin-panel/node_modules
burabay-admin-panel/.env

burabay-client/.yarn
burabay-client/.yarn
burabay-client/yarn.lock
burabay-client/src/routeTree.gen.ts

.vscode
